# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
Pandas_Int = pd.read_csv(url)

In [2]:
print(Pandas_Int .head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [3]:
# Display the first 5 rows
print(Pandas_Int.columns)
print(Pandas_Int.shape)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
(4008, 11)

In [4]:
rows,columns = Pandas_Int.shape
print(f" The Dataframe has {rows} rows and {columns} columns.")

 The Dataframe has 4008 rows and 11 columns.

In [5]:
print(Pandas_Int.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [6]:
# Unique values in each column
unique_counts = Pandas_Int.nunique()

# Separate categorical and numerical columns
categorical_columns = Pandas_Int.select_dtypes(include = ["object", "category"]).columns
numerical_columns = Pandas_Int.select_dtypes(include = ['int64', 'float64']).columns
print("Unique Values per Columns:\n", unique_counts)

Unique Values per Columns:
 Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [7]:
# Describe unique values in categorical columns
for col in numerical_columns:
    print(f"Range of'{col}' : {Pandas_Int[col].min()} to {Pandas_Int[col].max()}")

Range of'Income' : 0.0 to 99960.0
Range of'Monthly Premium Auto' : 61.0 to 35354.0
Range of'Total Claim Amount' : 0.382107 to 2893.239678

## Challenge 2: analyzing the data

In [14]:
#Calculate Summary Statistics
summary_stats = Pandas_Int.describe()
print("Summary Statistics:\n", summary_stats)

Summary Statistics:
              Income  Monthly Premium Auto  Total Claim Amount
count    724.000000            724.000000          724.000000
mean   52014.638122            226.349448          347.675170
std    24381.361877           1910.086258          270.301754
min    10269.000000             61.000000            0.382107
25%    29462.000000             68.000000          141.891985
50%    50540.500000             82.000000          321.600000
75%    71199.000000            109.000000          480.256879
max    99960.000000          35354.000000         2893.239678

In [15]:
#Calculate Mode
for col in Pandas_Int.select_dtypes(include=['int64', 'float64']).columns:
    print(f"Mode of '{col}':\n", Pandas_Int[col].mode().values)

Mode of 'Income':
 [43860.]
Mode of 'Monthly Premium Auto':
 [65.]
Mode of 'Total Claim Amount':
 [321.6]

In [16]:
# Calculate the median for numerical columns only
numerical_columns = Pandas_Int.select_dtypes(include=['int64', 'float64'])
print("Median:\n", numerical_columns.median())

Median:
 Income                  50540.5
Monthly Premium Auto       82.0
Total Claim Amount        321.6
dtype: float64

In [17]:
# Filter numerical columns
numerical_columns = Pandas_Int.select_dtypes(include=['int64', 'float64'])

# Compute the standard deviation for numerical columns
print("Standard Deviation:\n", numerical_columns.std())

Standard Deviation:
 Income                  24381.361877
Monthly Premium Auto     1910.086258
Total Claim Amount        270.301754
dtype: float64

In [18]:
# Filter numerical columns
numerical_columns = Pandas_Int.select_dtypes(include=['int64', 'float64'])

# Calculate the first and third quartiles for numerical columns
Q1 = numerical_columns.quantile(0.25)
Q3 = numerical_columns.quantile(0.75)

# Calculate the Interquartile Range (IQR)
IQR = Q3 - Q1

print("Interquartile Range (IQR):\n", IQR)

Interquartile Range (IQR):
 Income                  41737.000000
Monthly Premium Auto       41.000000
Total Claim Amount        338.364894
dtype: float64

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [19]:
#Tabulate library
from tabulate import tabulate

# Display the first 10 rows of the DataFrame with borders
print(tabulate(Pandas_Int.head(10), headers='keys', tablefmt='grid'))

+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
|    | Customer   | States     | GENDER   | Education            | Customer Lifetime Value   |   Income |   Monthly Premium Auto | Number of Open Complaints   | Policy Type    | Vehicle Class   |   Total Claim Amount | Customer_Location   |
+====+============+============+==========+======================+===========================+==========+========================+=============================+================+=================+======================+=====================+
|  2 | AI49188    | Nevada     | F        | Bachelor             | 1288743.17%               |    48767 |                    108 | 1/0/00                      | Personal Auto  | Two-Door Car    |             566.472  | Nevada              |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
|  4 | GA49547    | Washington | M        | High School or Below | 536307.65%                |    36357 |                     68 | 1/0/00                      | Personal Auto  | Four-Door Car   |              17.2693 | Washington          |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
|  5 | OC83172    | Oregon     | F        | Bachelor             | 825629.78%                |    62902 |                     69 | 1/0/00                      | Personal Auto  | Two-Door Car    |             159.383  | Oregon              |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
|  6 | XZ87318    | Oregon     | F        | College              | 538089.86%                |    55350 |                     67 | 1/0/00                      | Corporate Auto | Four-Door Car   |             321.6    | Oregon              |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
|  8 | DY87989    | Oregon     | M        | Bachelor             | 2412750.40%               |    14072 |                     71 | 1/0/00                      | Corporate Auto | Four-Door Car   |             511.2    | Oregon              |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
|  9 | BQ94931    | Oregon     | F        | College              | 738817.81%                |    28812 |                     93 | 1/0/00                      | Special Auto   | Four-Door Car   |             425.528  | Oregon              |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
| 21 | QK46697    | Washington | M        | Bachelors            | 617710.93%                |    61040 |                     79 | 1/1/00                      | Personal Auto  | Two-Door Car    |              20.3829 | Washington          |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
| 27 | HS14476    | Washington | M        | College              | 916206.32%                |    29723 |                     80 | 1/0/00                      | Personal Auto  | Four-Door Car   |              20.9851 | Washington          |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
| 44 | YD87931    | Washington | M        | Doctor               | 495165.61%                |    46896 |                  35354 | 1/1/00                      | Personal Auto  | Four-Door Car   |              31.7073 | Washington          |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+
| 53 | NW21079    | Washington | F        | Master               | 487938.48%                |    67163 |                     61 | 1/2/00                      | Personal Auto  | Two-Door Car    |              33.1928 | Washington          |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------------------+

In [20]:
# Rename the 'ST' column to 'States'
Pandas_Int.rename(columns={'ST': 'States'}, inplace=True)
# Remove rows where any column has blank values or zeros
Pandas_Int = Pandas_Int[(Pandas_Int != 0).all(axis=1)]  # Remove rows where any column is zero
Pandas_Int = Pandas_Int[(Pandas_Int != '').all(axis=1)]  # Remove rows where any column is blank
# Drop rows with NaN or NULL values
Pandas_Int.dropna(inplace=True)
# Create a Column Customer Location
Pandas_Int['Customer_Location'] = Pandas_Int['States']

In [21]:
# Customer locations
location_counts = Pandas_Int['Customer_Location'].value_counts()

# Sort the location counts in ascending order and retrieve the top 5 least common locations
top_5_least_common_locations = location_counts.sort_values(ascending=True).head(5)

print("Top 5 Least Common Customer Locations:\n", top_5_least_common_locations)

Top 5 Least Common Customer Locations:
 Customer_Location
AZ             8
WA            20
Nevada        62
Washington    74
Cali          95
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [22]:
# Count occurrences of each policy type
policy_sales = Pandas_Int['Policy Type'].value_counts()

# Display the total number of policies sold for each type
print("Total policies sold for each type:\n", policy_sales)

# Identify the policy type with the highest sales
top_policy = policy_sales.idxmax()
top_sales = policy_sales.max()

# Print the results
print(f"\nThe policy type with the highest number of policies sold is '{top_policy}' with {top_sales} policies sold.")

Total policies sold for each type:
 Policy Type
Personal Auto     519
Corporate Auto    161
Special Auto       44
Name: count, dtype: int64

The policy type with the highest number of policies sold is 'Personal Auto' with 519 policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [23]:
# Filter data for Personal Auto and Corporate Auto policies
personal_auto = Pandas_Int.loc[Pandas_Int['Policy Type'] == 'Personal Auto']
corporate_auto = Pandas_Int.loc[Pandas_Int['Policy Type'] == 'Corporate Auto']

# Calculate average income for each policy type
avg_income_personal = personal_auto['Income'].mean()
avg_income_corporate = corporate_auto['Income'].mean()

# Print the results
print(f"Average income of customers with Personal Auto policies: ${avg_income_personal:.2f}")
print(f"Average income of customers with Corporate Auto policies: ${avg_income_corporate:.2f}")

Average income of customers with Personal Auto policies: $51301.91
Average income of customers with Corporate Auto policies: $53778.14

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [24]:
from IPython.display import display


# Review statistics for Total Claim Amount
total_claim_stats = Pandas_Int['Total Claim Amount'].describe()
print("Statistics for Total Claim Amount:")
display(total_claim_stats.to_frame().style.set_table_attributes("style='display:inline'").set_table_styles(
    [{'selector': 'table', 'props': [('border', '2px solid black')]}]))

# Identify customers with high policy claim amount (greater than the 75th percentile)
q3 = Pandas_Int['Total Claim Amount'].quantile(0.75)
high_claim_customers = Pandas_Int.loc[Pandas_Int['Total Claim Amount'] > q3]
print("\nTop 25% customers based on Total Claim Amount:")
display(high_claim_customers.head(10).style.set_table_attributes("style='display:inline'").set_table_styles(
    [{'selector': 'table', 'props': [('border', '2px solid black')]}]))

# Calculate summary statistics for high policy claim amount data
high_claim_summary = high_claim_customers.describe()
print("\nSummary statistics for high policy claim amount data:")
display(high_claim_summary.style.set_table_attributes("style='display:inline'").set_table_styles(
    [{'selector': 'table', 'props': [('border', '2px solid black')]}]))

Statistics for Total Claim Amount:

Top 25% customers based on Total Claim Amount:

Summary statistics for high policy claim amount data: